html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: hidden; /* Hide vertical overflow */
  width: 100%;
  height: 100%;
}

.home-page-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; /* Full viewport height */
  background: url('../assets/books-background.jpg') no-repeat center center;
  background-size: cover;
}

.home-page-content {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f9f9f9;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.join-button {
  background-color: #28a745;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Add some space above the button */
}

.join-button:hover {
  background-color: #218838;
}

.footer {
  padding: 0px; /* Reduce the padding to make the footer more compact */
}